---
import BaseLayout from "src/layouts/BaseLayout.astro";
const headerImg = await import("../assets/images/header.png");
---

<BaseLayout
  title="Contact Us"
  description="Get a FREE Quote on your next project, from Russtoration Painting."
  preloadImg={headerImg.default.src}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <section id="int-hero">
    <h1 id="home-h">Contact Us</h1>
    <picture>
      <source media="(max-width: 600px)" srcset="/assets/images/header.png" />
      <source media="(min-width: 601px)" srcset="/assets/images/header.png" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/header.png"
        alt="kitchen cabinets"
        loading="eager"
        width="2500"
        height="1667"
      />
    </picture>
  </section>
</BaseLayout>
