---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Premier Painting & Restoration Services in Treasure Valley"
  description="Transform your home or business with Russtoration Painting. Offering expert interior and exterior painting, deck and fence staining, stucco repair, pressure washing, and more in Nampa, Boise, Meridian, and all of Treasure Valley. Get your free quote today!"
>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero-1785">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Russtoration Painting</span>
        <h1 class="cs-title">
          PREMIER PAINTING COMPANY PROUDLY SERVING BOISE, NAMPA & THE TREASURE
          VALLEY
        </h1>
        <div class="cs-button-group">
          <a href="/contact" class="cs-button-solid cs-button1"
            >GET A QUOTE TODAY</a
          >
        </div>
      </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
      <source
        media="(max-width: 600px)"
        srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_1200,h_900,ar_4:3/v1721170960/Russtoration%20Painting/20210604_143856_kzvhol.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_2400,h_1800,ar_4:3/v1721170960/Russtoration%20Painting/20210604_143856_kzvhol.jpg"
      />
      <img
        loading="eager"
        decoding="async"
        src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_2400,h_1800,ar_4:3/v1721170960/Russtoration%20Painting/20210604_143856_kzvhol.jpg"
        alt="Home front facade with a fresh coat of paint"
        width="1920"
        height="1200"
        aria-hidden="true"
      />
    </picture>

    <img
      class="cs-graphic"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-splatter2.svg"
      alt="graphic"
      height="161"
      width="1920"
      loading="lazy"
      decoding="async"
    />
    <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
    <img
      class="cs-graphic cs-graphic-dark"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg"
      alt="graphic"
      height="161"
      width="1920"
      loading="lazy"
      decoding="async"
    />
  </section>

  <!-- ============================================ -->
  <!--                Side By Side                  -->
  <!-- ============================================ -->

  <section id="sbs-945">
    <div class="cs-container">
      <div class="cs-image-group">
        <!--Long Left Image-->
        <picture class="cs-picture cs-picture1">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_750,h_1000,ar_3:4/v1721170950/Russtoration%20Painting/20230912_170018_mc92ks.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_750,h_1000,ar_3:4/v1721170950/Russtoration%20Painting/20230912_170018_mc92ks.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_750,h_1000,ar_3:4/v1721170950/Russtoration%20Painting/20230912_170018_mc92ks.jpg"
            alt="Painting Service"
            width="349"
            height="590"
          />
        </picture>
        <!--Top right image-->
        <picture class="cs-picture cs-picture2">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170945/Russtoration%20Painting/20240105_150522_v3aayp.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170945/Russtoration%20Painting/20240105_150522_v3aayp.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170945/Russtoration%20Painting/20240105_150522_v3aayp.jpg"
            alt="Painters"
            width="281"
            height="387"
          />
        </picture>
        <!--Bottom right image-->
        <picture class="cs-picture cs-picture3">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_800,ar_3:4/v1721170945/Russtoration%20Painting/20230909_171416_cl9jvu.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_800,ar_3:4/v1721170945/Russtoration%20Painting/20230909_171416_cl9jvu.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_800,ar_3:4/v1721170945/Russtoration%20Painting/20230909_171416_cl9jvu.jpg"
            alt="Painting Services"
            width="281"
            height="280"
          />
        </picture>
        <!--Seal-->
        <img
          class="cs-seal"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/seal.svg"
          alt="seal"
          width="150"
          height="150"
        />
      </div>
      <div class="cs-content">
        <span class="cs-topper">ABOUT RUSSTORATION PAINTING</span>
        <h2 class="cs-title">
          WE ARE THE TREASURE VALLEY'S LEADING RESIDENTIAL & COMMERCIAL PAINTING
          CONTRACTORS
        </h2>
        <p class="cs-text">
          At Russtoration Painting, we are dedicated to providing top-notch
          painting services for both residential and commercial clients in
          Nampa, Boise, Meridian, Kuna, Eagle, Emmett, and surrounding areas.
          Our skilled team is experienced in handling projects of all sizes,
          ensuring that every job is completed to the highest standards.
        </p>
        <p class="cs-text">
          Whether you're a homeowner looking to refresh your living space or a
          commercial contractor in need of reliable painting services,
          Russtoration Painting has the expertise and resources to meet your
          needs. We use high-quality materials and proven techniques to deliver
          outstanding results that enhance the beauty and value of your
          property.
        </p>
        <!-- <a href="" class="cs-button-solid" aria-label="learn more about us"
          >Learn More</a
        > -->
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                    Services                  -->
  <!-- ============================================ -->

  <section id="services">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex-group">
          <span class="cs-topper">Our Services</span>
          <h2 class="cs-title">Commercial & Residential Painting Services</h2>
        </div>
        <p class="cs-text">
          We offer a wide array of painting, staining, and refinishing services
          for homeowners and commercial contractors in Nampa, Meridian, Boise,
          and all across the Treasure Valley. Our services also include exterior
          restoration and pressure washing to ensure the best condition for your
          home or business, while adding substantial curb appeal. Learn more
          about our <a href="/services/residential-painting"
            >residential painting services</a
          >.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href="/services/commercial-painting" class="cs-link">
            <img
              class="cs-icon"
              src="/assets/svgs/commercial.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Commercial Painting</h3>
            <p class="cs-item-text">
              Professional painting services for offices, apartments, and
              commercial buildings.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/residential-painting" class="cs-link">
            <img
              class="cs-icon"
              src="/assets/svgs/house.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Residential Painting</h3>
            <p class="cs-item-text">
              Bring new life to your home’s interior and exterior with our
              expert painting.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/pressure-washing" class="cs-link">
            <img
              class="cs-icon"
              src="/assets/svgs/pressure-wash.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Pressure Washing</h3>
            <p class="cs-item-text">
              Deep cleaning for surfaces to prepare for painting or restore
              their original look.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/deck-and-fence-restoration" class="cs-link">
            <img
              class="cs-icon"
              src="/assets/svgs/deck.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Deck Painting & Staining</h3>
            <p class="cs-item-text">
              Get your deck ready for your summer fun or restore weather damage
              with a fresh coat of deck paint or stain.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/wood-door-restoration" class="cs-link">
            <img
              class="cs-icon"
              src="/assets/svgs/door.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Wood Door Refinishing</h3>
            <p class="cs-item-text">
              Restore the elegance of your wood doors with our refinishing
              services.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/cabinet-painting" class="cs-link">
            <img
              class="cs-icon"
              src="/assets/svgs/cabinet.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Cabinet Painting & Staining</h3>
            <p class="cs-item-text">
              Revitalize your kitchen or bathroom cabinets with our detailed
              painting and staining.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/epoxy-floor-coating" class="cs-link">
            <img
              class="cs-icon"
              src="/assets/svgs/epoxy.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Epoxy Floor Coating</h3>
            <p class="cs-item-text">
              Durable and attractive flooring solutions for your garage or
              workspace.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/deck-and-fence-restoration" class="cs-link">
            <img
              class="cs-icon"
              src="/assets/svgs/fence.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
              aria-hidden="true"
            />
            <h3 class="cs-h3">Fence Painting & Restoration</h3>
            <p class="cs-item-text">
              Get your aging fence looking brand new again with a fresh stain or
              coat of paint.
            </p>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                Why Choose Us                 -->
  <!-- ============================================ -->

  <section id="why-choose-1634">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex">
          <span class="cs-topper">Why Choose Us</span>
          <h2 class="cs-title">WHY CHOOSE RUSSTORATION PAINTING?</h2>
        </div>
        <div>
          <p class="cs-text">
            Russtoration Painting is committed to excellence in every project we
            undertake. Our team of professionals takes pride in delivering
            superior painting and restoration services that exceed our clients'
            expectations. We understand the importance of maintaining a clean
            and safe environment while working on your property and ensure
            minimal disruption to your daily life or business operations.
          </p>
          <p class="cs-text">
            We believe in building lasting relationships with our clients
            through trust, quality workmanship, and exceptional customer
            service. Our goal is to make your painting or restoration project a
            seamless and satisfying experience from start to finish.
          </p>
        </div>
      </div>
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          <li class="cs-item">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                src="/assets/svgs/Award.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </picture>
            <!-- Text Grouped For Flexbox-->
            <div class="cs-text-group">
              <h3 class="cs-h3">EXPERT CRAFTSMANSHIP</h3>
              <p class="cs-item-text">
                Our skilled painters and restoration experts are dedicated to
                providing high-quality work on every project.
              </p>
            </div>
          </li>
          <li class="cs-item">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                src="/assets/svgs/Checklist.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </picture>
            <!-- Text Grouped For Flexbox-->
            <div class="cs-text-group">
              <h3 class="cs-h3">COMPREHENSIVE SERVICES</h3>
              <p class="cs-item-text">
                From interior and exterior painting to pressure washing and
                epoxy floor coating, we offer a wide range of services to meet
                your needs.
              </p>
            </div>
          </li>
          <li class="cs-item">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                src="/assets/svgs/Satisfaction.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </picture>
            <!-- Text Grouped For Flexbox-->
            <div class="cs-text-group">
              <h3 class="cs-h3">CUSTOMER SATISFACTION</h3>
              <p class="cs-item-text">
                We prioritize your satisfaction and work closely with you to
                achieve the best possible results for your home or business.
              </p>
            </div>
          </li>
        </ul>
        <div class="cs-image-group">
          <div class="cs-picture-wrapper">
            <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source
                media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_900,ar_1:1/v1721170961/Russtoration%20Painting/20210510_131223_wm1mmg.jpg"
              />
              <!--Tablet and above Image-->
              <source
                media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_900,ar_1:1/v1721170961/Russtoration%20Painting/20210510_131223_wm1mmg.jpg"
              />
              <img
                loading="lazy"
                decoding="async"
                src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_900,ar_1:1/v1721170961/Russtoration%20Painting/20210510_131223_wm1mmg.jpg"
                alt="Professional Painting Services"
                width="434"
                height="414"
              />
            </picture>
            <div class="cs-box">
              <span class="cs-header">100% SATISFACTION</span>
              <span class="cs-desc">We Guarantee Our Work</span>
            </div>
          </div>
          <picture class="cs-picture cs-picture2">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_600,ar_1:1/v1721170935/Russtoration%20Painting/20240607_114618_y1zodq.jpg"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_600,ar_1:1/v1721170935/Russtoration%20Painting/20240607_114618_y1zodq.jpg"
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_600,ar_1:1/v1721170935/Russtoration%20Painting/20240607_114618_y1zodq.jpg"
              alt="Excellent Painting Service Guarantee"
              width="197"
              height="197"
            />
          </picture>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                Side By Side                  -->
  <!-- ============================================ -->

  <section id="sbs-945">
    <div class="cs-container">
      <div class="cs-image-group">
        <!--Long Left Image-->
        <picture class="cs-picture cs-picture1">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170953/Russtoration%20Painting/20210618_082018_tvzvzu.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170953/Russtoration%20Painting/20210618_082018_tvzvzu.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170953/Russtoration%20Painting/20210618_082018_tvzvzu.jpg"
            alt="Painting Services Treasure Valley"
            width="349"
            height="590"
          />
        </picture>
        <!--Top right image-->
        <picture class="cs-picture cs-picture2">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170957/Russtoration%20Painting/20220715_115349_coycsr.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170957/Russtoration%20Painting/20220715_115349_coycsr.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_900,h_1200,ar_3:4/v1721170957/Russtoration%20Painting/20220715_115349_coycsr.jpg"
            alt="Professionaly Painters"
            width="281"
            height="387"
          />
        </picture>
        <!--Bottom right image-->
        <picture class="cs-picture cs-picture3">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_800,ar_3:4/v1721170979/Russtoration%20Painting/20210413_154758_y83sjk.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_800,ar_3:4/v1721170979/Russtoration%20Painting/20210413_154758_y83sjk.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/c_fill,w_600,h_800,ar_3:4/v1721170979/Russtoration%20Painting/20210413_154758_y83sjk.jpg"
            alt="PRofessional Painting Services"
            width="281"
            height="280"
          />
        </picture>
      </div>
      <div class="cs-content">
        <span class="cs-topper">SERVING ALL OF THE TREASURE VALLEY</span>
        <h2 class="cs-title">
          WE TAKE PRIDE IN PROVIDING SUPERIOR SERVICE TO OUR COMMUNITY
        </h2>
        <p class="cs-text">
          Russtoration Painting proudly serves Nampa, Boise, Meridian, Kuna,
          Eagle, Emmett, and all other areas in the Treasure Valley. Our
          comprehensive painting services are designed to enhance the aesthetic
          appeal and durability of your property, whether it’s a cozy home or a
          bustling commercial space.
        </p>
        <p class="cs-text">
          With a focus on quality and attention to detail, we ensure that every
          project is completed to the highest standards. Trust Russtoration
          Painting to deliver exceptional results that will stand the test of
          time and elevate the look of your property.
        </p>
        <a
          href="/contact"
          class="cs-button-solid"
          aria-label="learn more about us">GET A QUOTE TODAY</a
        >
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                Video Section                  -->
  <!-- ============================================ -->

  <section id="sbs-1636">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex">
          <span class="cs-topper">FEATURED SERVICE</span>
          <h2 class="cs-title">
            TRUSTED COMMERCIAL PAINTING & RESTORATION CONTRACTORS IN THE
            TREASURE VALLEY
          </h2>
        </div>
        <div class="cs-flex">
          <h3 class="cs-h3">
            Russtoration Painting is a leading provider of <a
              href="/services/commercial-painting"
              >commercial interior and exterior painting</a
            > in Boise, Nampa, Meridian, and the surrounding areas, offering expert
            solutions tailored to every project, from multi unit residences to office
            buildings and more.
          </h3>
          <p class="cs-text">
            Our comprehensive HOA painting services include interior and
            exterior painting for offices, apartment complexes, condominiums,
            and townhomes, as well as specialized services such as stucco
            repair, wood rot repair, and deck and fence staining. We work
            closely with property managers to develop customized painting plans
            that work with your budget, while minimizing disruption to
            residents' daily lives.
          </p>
          <ul class="cs-ul">
            <li class="cs-li">
              Interior Painting for common areas, offices, and units
            </li>
            <li class="cs-li">Exterior painting for multi-unit properties</li>
            <li class="cs-li">Stucco painting & repair</li>
            <li class="cs-li">
              Specialized coatings and finishes for durability and ease of
              maintenance
            </li>
            <li class="cs-li">
              Project management that works with office hours, move-ins, and
              property maintenance schedules
            </li>
          </ul>
          <a href="/services/commercial-painting" class="cs-button-solid"
            >Learn More</a
          >
        </div>
      </div>
      <div class="cs-picture">
        <video
          loop=""
          muted=""
          src="https://res.cloudinary.com/dxvvbtwxg/video/upload/v1721163912/Russtoration%20Painting/Russtoration_Painting_video_1_q2oj7r.mp4"
        ></video>
        <button class="cs-play" aria-label="click to play video"
          ><img
            alt="play icon"
            decoding="async"
            height="24"
            src="	https://www.colorconceptspainting.net/assets/images/play-right.svg"
            width="24"
            aria-hidden="true"
            class="play-icon"
          /></button
        >
      </div>
    </div>
  </section>

  <!-- <GalleryPreview /> -->
  <!-- <CTA /> -->

  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->

  <section id="reviews-508">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Feedback</span>
        <h2 class="cs-title">What Our Clients Say About Us</h2>
        <!-- <p class="cs-text">
          Non curabitur gravida arcu ac tortor dignissim convallis aenean. Dui
          id ornare arcu odio. Sodales ut eu sem integer vitae justo eget magna.
          Duis tristique sollicitudin nibh sit amet commodo nulla facilisi
          nullam
        </p> -->
        <!-- <a href="" class="cs-button-solid">See More Reviews</a> -->
      </div>
      <div class="cs-review">
        <p class="cs-review-p">
          Russ has been trusted with our entire multi family dwelling management
          portfolio. for the last half a decade. This company holds the highest
          standard of professionalism and respect for our property needs and
          demanding schedule.
        </p>
        <img
          class="cs-profile"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://lh3.googleusercontent.com/a-/ALV-UjX464QCIwQppEXkyYPTQ3U-1NSTWSd6QCZCJY46PXW1jKcsOTsQ=w72-h72-p-rp-mo-br100"
          alt="profile"
          width="60"
          height="60"
        />
        <div class="cs-info">
          <span class="cs-name">Shawn B.</span>
          <span class="cs-location">Google Review</span>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="less">
  /* STYLES FOR ABOVE THE FOLD */

  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-1785 {
      /* 200px - 300px - leaving extra space for the navigation */
      padding: clamp(12.5rem, 25.95vw, 18.75em) (16/16rem);
      /* prevents the topper line from causing an overflow */
      padding-top: (280/16rem);
      overflow: hidden;
      position: relative;
      z-index: 1;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: (48/16rem);
      }

      .cs-topper {
        color: var(--primary);
        opacity: 0.8;
        margin-bottom: 1rem;
      }

      .cs-content {
        text-align: center;
        width: 100%;
        max-width: (750/16rem);
      }

      .cs-title {
        /* 49px - 84px */
        font-size: clamp(2.0625rem, 5vw, 3.25rem);
      }

      .cs-title,
      .cs-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        margin-bottom: (32/16rem);
      }

      .cs-button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: (8/16rem);
      }

      .cs-button-solid {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-align: center;
        text-decoration: none;
        min-width: (200/16rem);
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 (24/16rem);
        background-color: var(--primary);
        color: var(--bodyTextColorWhite);
        border-radius: (4/16rem);
        display: inline-block;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: #000;
          opacity: 1;
          border-radius: (4/16rem);
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-graphic {
        width: 100%;
        min-width: (1920/16rem);
        height: auto;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 0;
        transform: translateX(-50%);
      }

      .cs-graphic-dark {
        display: none;
      }

      .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        &:before {
          /* Overlay */
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          /* prevents the cursor from interacting with it */
          pointer-events: none;
          opacity: 0.7;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  /* Large Desktop - 1920px */
  @media only screen and (min-width: 120rem) {
    #hero-1785 {
      /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
      padding-bottom: 14vw;
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 10;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-title {
        max-width: 20ch;
      }

      .cs-card-group {
        border-radius: 0.5rem;
        overflow: hidden;
        width: 100%;
        max-width: (1280/16rem);
        margin: 0;
        padding: 0 (16/16rem);
        /* prevents padding and border from affecting height and width */
        background-color: #fff;
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        z-index: 15;
      }

      .cs-topper {
        color: var(--primary);
      }

      .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        box-sizing: border-box;
        grid-column: span 12;
        transition:
          background-color 0.3s,
          border-color 0.3s;

        &:last-of-type {
          border-bottom: none;
        }
      }

      .cs-link {
        text-decoration: none;
        /* 24px - 60px top & Bottom */
        /* 24px - 16px top & Bottom */
        padding: clamp(1.5rem, 5.3vw, 3.75rem) clamp(1rem, 2.7vw, 2.5rem);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }

      .cs-icon {
        color: var(--primary);
        /* 32px - 40px */
        height: clamp(2rem, 4vw, 2.5rem);
        width: auto;
        margin: 0 0 (16/16rem) 0;
      }

      .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2vw, 1.5625rem);
        font-weight: 700;
        text-align: inherit;
        line-height: 1.2em;
        margin: 0 0 (12/16rem) 0;
        color: var(--headerColor);
        transition: color 0.3s;
      }

      .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        text-align: inherit;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition:
          color 0.3s,
          opacity 0.3s;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services {
      .cs-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: (48/16rem);
      }

      .cs-title {
        margin: 0;
      }

      .cs-flex-group {
        width: 50%;
        /* prevents flexbox from squishing it */
        flex: none;
      }

      .cs-item {
        grid-column: span 6;

        &:nth-of-type(4),
        &:nth-of-type(8) {
          border-right: none;
        }

        &:nth-of-type(7),
        &:nth-of-type(8) {
          border-bottom: none;
        }
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #services {
      .cs-card-group {
        padding: 0;
      }

      .cs-item {
        grid-column: span 3;
        border-right: 1px solid #e8e8e8;

        &:hover {
          background-color: var(--bodyDark);
          border-color: var(--bodyDark);

          .cs-h3,
          .cs-item-text {
            color: var(--bodyTextColorWhite);
          }

          .cs-item-text {
            opacity: 0.8;
          }
        }

        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7),
        &:nth-of-type(8) {
          border-bottom: none;
        }
      }
    }
  }

  /* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-945 {
      padding: var(--sectionPadding);
      /* clips anything overflowing */
      overflow: hidden;
      position: relative;

      .cs-topper {
        color: var(--primary);
      }

      .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: (550/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-title {
        font-size: clamp(1.95rem, 5vw, 2.25rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: (542/16rem);
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-text {
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-button-solid {
        font-size: (16/16rem);
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: (150/16rem);
        padding: 0 (32/16rem);
        background-color: var(--primary);
        border-radius: 0.25rem;
        overflow: hidden;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 0%;
          background: #000;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
          border-radius: 0.25rem;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-contact-group {
        width: 100%;
        margin-bottom: (32/16rem);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: (12/16rem);
      }

      .cs-link {
        text-decoration: none;
        padding-right: (30/16rem);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: (16/16rem);
        position: relative;

        &:hover {
          &:before {
            width: 100%;
            height: (56/16em);
          }
          .cs-wrapper {
            transform: scale(1.2);
          }

          .cs-icon {
            transform: translateX(0.4375rem);
          }
        }

        &:before {
          /* light green circle that animates on hover */
          content: "";
          width: (48/16rem);
          height: (48/16rem);
          background: #eff1f0;
          opacity: 1;
          position: absolute;
          display: block;
          top: 50%;
          left: 0;
          z-index: -1;
          transform: translateY(-50%);
          transition:
            width 0.3s,
            height 0.3s,
            border-radius 0.3s;
        }
      }

      .cs-wrapper {
        width: (48/16rem);
        height: (48/16rem);
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        transition: transform 0.3s;
      }

      .cs-icon {
        width: (24/16rem);
        height: auto;
        display: block;
        transition: transform 0.3s;
      }

      .cs-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: (4/16rem);
      }

      .cs-header {
        font-size: (16/16rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
      }

      .cs-link-content {
        font-size: (16/16rem);
        line-height: 1.2em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
      }

      .cs-image-group {
        /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
        font-size: ~"min(2.24vw, .844em)";
        /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
        width: (650/16em);
        height: (687/16em);
        position: relative;
        z-index: 1;
      }

      .cs-picture {
        /* clips the image to match the border radius of the cs-picture */
        overflow: hidden;
        display: block;
        position: absolute;

        img {
          width: 100%;
          height: 100%;
          /* makes it act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0.5rem;
        }
      }

      .cs-picture1 {
        width: (349/16em);
        height: (590/16em);
        top: (49/16em);
        left: 0;
      }

      .cs-picture2 {
        width: (281/16em);
        height: (387/16em);
        top: 0;
        right: 0;
      }

      .cs-picture3 {
        width: (281/16em);
        height: (280/16em);
        bottom: 0;
        right: 0;
      }

      .cs-seal {
        width: (150/16em);
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -40%);
      }

      .cs-floater {
        display: none;
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs-945 {
      .cs-container {
        max-width: (1280/16rem);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .cs-image-group {
        /* set to inherit at Large Desktop */
        font-size: ~"min(1.15vw, 1em)";
        margin: 0;
        /* prevents flexbox from squishing it */
        flex: none;
      }

      .cs-content {
        width: 51%;
      }
    }
  }

  /* Large Desktop - 1800px */
  @media only screen and (min-width: 112.5rem) {
    #sbs-945 {
      .cs-floater {
        width: (445/16rem);
        height: auto;
        display: block;
        position: absolute;
        right: 0;
        top: (20/16rem);
      }
    }
  }

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-1636 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        width: 100%;
        height: 70%;
        background: var(--bodyDark);
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
      }

      .cs-topper {
        color: var(--primary);
      }

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 100px */
        gap: clamp(3rem, 9vw, 6.25rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-flex {
        max-width: (608/16rem);
      }

      .cs-title {
        color: var(--bodyTextColorWhite);
      }

      .cs-h3 {
        font-size: (20/16rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 (16/16rem) 0;
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        margin-bottom: (16/16rem);
        opacity: 0.8;
        color: var(--bodyTextColorWhite);

        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-button-solid {
        font-size: (16/16rem);
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: (150/16rem);
        padding: 0 (24/16rem);
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 0%;
          background: #000;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-ul {
        margin: 0 0 2rem 0;
        max-width: 39.375rem;
        padding: 0;
        columns: 2;

        .cs-li {
          position: relative;
          opacity: 0.9;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin: 0 0 0.5rem 0;
          list-style: none;
          color: var(--bodyTextColorWhite);
          gap: 0.75rem;

          &:before {
            content: "";
            display: block;
            border-radius: 0.25rem 0 0.25rem 0;
            margin-top: 0.5rem;
            background: #fff;
            height: 0.5rem;
            width: 0.5rem;
            flex: none;
          }
        }
      }

      .cs-picture {
        width: 100%;
        height: 90vw;
        /* 340px - 620px */
        max-height: clamp(21.25rem, 45vw, 38.75rem);
        display: block;
        position: relative;
        z-index: 1;
        cursor: pointer;

        .cs-play {
          margin: 0;
          box-sizing: border-box;
          padding: 0;
          width: clamp(5rem, 14vw, 7.5rem);
          height: clamp(5rem, 14vw, 7.5rem);
          display: flex;
          pointer-events: none;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(8px);
          border: none;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 10;
          transform: translate(-50%, -50%);
          transition:
            transform 0.3s,
            opacity 0.3s;

          .play-icon {
            width: 1.25rem;
            height: auto;
          }
          &.cs-hide {
            transform: translate(-50%, -50%) scale(0) !important;
            opacity: 0;
          }
        }

        video {
          font-family: var(--bodyFontFamily);
          font-size: 100%;
          color: var(--bodyTextColor);
          margin: 0;
          box-sizing: border-box;
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #sbs-1636 {
      &:before {
        height: 63%;
      }
      .cs-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: (40/16rem);
      }

      .cs-flex {
        width: 50%;
        text-align: left;
        max-width: (608/16rem);
      }

      .cs-title {
        margin: 0;
      }
    }
  }

  /*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #why-choose-1634 {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (584/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 100px */
        gap: clamp(3rem, 10vw, 6.25rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-flex {
        max-width: (616/16rem);
      }

      .cs-title {
        max-width: 20ch;
      }

      .cs-topper {
        color: var(--primary);
      }

      .cs-text {
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .cs-wrapper {
        width: 100%;
      }

      .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: (28/16rem);
        /* 16px - 20px */
        column-gap: clamp(1rem, 2.3vw, 1.25rem);
      }

      .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        grid-column: span 12;
        flex-direction: column;
        align-items: flex-start;
        /* 16px - 24px */
        gap: clamp(1rem, 3vw, 1.5rem);
      }

      .cs-icon-wrapper {
        /* 60px - 80px */
        width: clamp(3.75rem, 7vw, 5rem);
        height: clamp(3.75rem, 7vw, 5rem);
        margin: 0;
        box-sizing: border-box;
        border: 1px solid var(--primary);
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* prevents flexbox from squishing it */
        flex: none;
      }

      .cs-icon {
        width: (32/16rem);
        height: auto;
        display: block;
      }

      .cs-h3 {
        font-size: (20/16rem);
        line-height: 1.5em;
        margin: 0;
        margin-bottom: (8/16rem);
        color: var(--headerColor);
        text-align: inherit;
      }

      .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        text-align: inherit;
      }

      .cs-wrapper {
        /* makes the contents of this container act as though the container doesn't exist. They are now children of the cs-container so they can be positioned around each other. This allows us to sue the order property to place the cs-image-group at the top of the page on mobile */
        display: contents;
      }

      .cs-image-group {
        font-size: ~"min(2.7vw, 1em)";
        width: (542/16em);
        height: (494/16em);
        /* sends it to teh top in the 1st position */
        order: -1;
        position: relative;
        z-index: 1;
      }

      .cs-picture-wrapper {
        width: 80.073801%;
        height: 83.805668%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: stretch;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
      }

      .cs-box {
        width: 60%;
        margin-top: (-38/16em);
        margin-left: (24/16em);
        padding: (16/16em);
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: (4/16rem);
        position: relative;
        z-index: 10;
        border-radius: 0.25rem;
      }

      .cs-header {
        font-size: (16/16em);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
      }

      .cs-desc {
        font-size: (14/16em);
        line-height: 1.5em;
        margin: 0;
        color: var(--primary);
        display: block;
      }

      .cs-picture {
        position: relative;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0.5rem;
        }
      }

      .cs-picture1 {
        width: 100%;
        height: 100%;
      }

      .cs-picture2 {
        width: 36.346863%;
        height: 39.878543%;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #why-choose-1634 {
      .cs-container {
        max-width: (1280/16rem);
      }

      .cs-content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .cs-flex {
        text-align: left;
        width: 40vw;
        max-width: (640/16rem);
        flex: none;
      }

      .cs-title {
        margin: 0;
      }

      .cs-h3,
      .cs-item-text {
        text-align: left;
      }

      .cs-item {
        grid-column: span 4;
      }

      .cs-image-group {
        width: 100%;
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #why-choose-1634 {
      /* set the darker background color on the main div */
      background-color: #222;

      overflow: hidden;

      .cs-title {
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
      }

      .cs-content {
        align-items: flex-start;
      }

      .cs-flex {
        width: 50%;
      }

      .cs-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: (40/16rem);
        position: relative;
        z-index: 1;

        &:before {
          /* make the white space dependant on the height of the cs-wrapper as a pseudo element attached to the cs wrapper. This makes the white background responsive to the amount of items you have in your list. When the list grows or shrinks, the design will maintain its same spacing */
          content: "";
          width: 100vw;
          height: 100vw;
          background: #fff;
          opacity: 1;
          position: absolute;
          display: block;
          top: 0;
          left: 50%;
          z-index: -1;
          transform: translateX(-50%);
        }
      }

      .cs-card-group {
        max-width: (630/16rem);
        /* use padding to push add the same amount of space between the content and the top of the card group as the negative margin top value on the cs-image-group. This makes sure that it counter acts the effects of the negative margin affecting the card group as well */
        padding-top: (48/16rem);
        align-self: flex-start;
      }

      .cs-image-group {
        width: (542/16em);
        /* by setting height to auto, it will stretch to fill the container height. So when you add or subtract more cards and change the height of the container, the image group will shrink as well. Thats why we set the heights of the images in percentages. They will always be X% tall inside the cs-image-group. So when the image group stretches to match the container height, the pictures percentage height also grows proportionally. This ensures the design responds to changes in height from the card section on the left. */
        height: auto;
        min-height: (494/16em);
        /* makes it overlap the .cs-wrapper div */
        margin-top: (-48/16rem);
        order: 2;
        flex: none;
      }

      .cs-item {
        grid-column: span 12;
        flex-direction: row;
      }
    }
  }

  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

  /* Mobile - 360px - Contains hover animation */
  @media only screen and (min-width: 0em) {
    #gallery {
      /* Centers button */
      text-align: center;
      padding: var(--sectionPadding);
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
      .cs-container {
        width: 100%;
        max-width: (1322/16em);
        margin: auto;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        max-width: (621/16rem);
        margin-bottom: (40/16rem);
      }

      .cs-image-group {
        /* used rem so it doesn't scale with the font size of on parent */
        font-size: ~"min(1.1vw, 1em)";
        width: 100%;
        max-width: (1322/16em);
        margin: 0 auto (60/16rem);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: (30/16em);
      }

      .cs-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: (30/16em);
      }

      .cs-picture {
        display: block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-row-1 {
        .cs-picture1 {
          width: (420/16em);
          height: (567/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (629/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (512/16em);
        }
      }

      .cs-row-2 {
        .cs-picture1 {
          width: (420/16em);
          height: (492/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (517/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }

      .cs-row-3 {
        .cs-picture1 {
          width: (420/16em);
          height: (625/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (452/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }
    }
  }

  /* Dark mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #gallery {
        .cs-title {
          color: var(--bodyTextColorWhite);
        }
      }
    }
  }

  /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #reviews-508 {
      padding: var(--sectionPadding);

      .cs-topper {
        color: var(--primary);
      }

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (550/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: (48/16rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: (522/16rem);
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-text {
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-button-solid {
        font-size: (16/16rem);
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: (150/16rem);
        padding: 0 (24/16rem);
        background-color: var(--primary);
        border-radius: (4/16rem);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 0%;
          background: #000;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          border-radius: (4/16rem);
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-review {
        width: 100%;
        max-width: (632/16rem);
        /* 24px - 60px top & bottom */
        /* 16px - 60px left & right */
        padding: clamp(1.5rem, 5.8vw, 3.75rem) clamp(1rem, 5vw, 3.75rem);
        border: 1px solid #f1f1f4;
        /* prevents padding from affecting width & height */
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }

      .cs-review-p {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        width: 100%;
        /* 16px - 32px */
        margin: 0 0 clamp(1rem, 3vw, 2rem) 0;
        color: var(--bodyTextColor);
      }

      .cs-info {
        display: inline-block;
      }

      .cs-profile {
        width: (60/16rem);
        height: auto;
        margin-right: (20/16rem);
        border-radius: 50%;
        display: block;
      }

      .cs-name {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        font-weight: 700;
        margin-bottom: (12/16rem);
        color: var(--headerColor);
        display: block;
      }

      .cs-location {
        /* 13px - 16px */
        font-size: clamp(0.8125rem, 1.5vw, 1rem);
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: var(--headerColor);
        display: block;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #reviews-508 {
      .cs-container {
        max-width: (1280/16rem);
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      .cs-review {
        width: 73%;
      }
    }
  }
</style>

<script>
  function togglePlayButton() {
    document.querySelectorAll("#sbs-1636 .cs-picture").forEach((e) => {
      e.addEventListener("click", () => {
        document.querySelectorAll("#sbs-1636 .cs-play").forEach((e) => {
          e.classList.toggle("cs-hide");
        });
      });
    });
  }
  function toggleVideoPlayback() {
    const e = document.querySelector("#sbs-1636 video");
    e.addEventListener("click", () => {
      e.paused ? e.play() : e.pause();
    });
  }
  togglePlayButton(), toggleVideoPlayback();
</script>
